@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --primary-color:#bb85ee;
    --primary-color-dark: #7610d4;
    --second-color-dark: #1d0038;
    --primary-color-button: #f0dfff;
    --second-color-button: #e6c2ff;
    --primary-font: 'Pixelify Sans', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

button {
    font-family: var(--primary-font);
    background-color: var(--primary-color-button);
    border-radius: 7px;
}

button:hover {
    background-color: var(--second-color-button);
    color: var(--second-color-dark);
}

button:active {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-button);
}


.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}
